[Unit]
Description=Start customminer beta
After=network.target

[Service]
WorkingDirectory=/home/user
ExecStart=/bin/bash /home/user/customminerbeta.sh
KillMode=process
Restart=on-failure
RestartSec=5

User=root
Group=root

[Install]
WantedBy=multi-user.target
